@import "./styles/colors.scss";

body {
  background: $background-light; 
}

.btn {
  box-shadow: none !important;
}

.btn.btn-primary {
  background-color: $primary-light;
  border-color: $primary-light;
  font-weight: bold;

  &:hover {
    background-color: $primary;
  }
}

.btn.btn-outline-primary {
  border-width: 2px;
  border-color: $primary-dark;
  color: $primary-dark;
  &:hover,
  &:active,
  &:focus {
    background-color: $primary-dark !important;
    color: $font-light;
  }
}
